* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sector {
    width: 1300px;
    margin: 0 auto;
    height: 1000px;
    background:grey;
}

.carusel {
    display: flex;
    padding-top: 100px;
}

.carusel__container {
    width: 600px;
    margin: auto;
    border: 5px solid black;
    background: black;
    overflow: hidden;
}

.carusel__img {
    display: block;
    width: 100%;
}

.carusel__slide {
    display: flex;
    height: 350px;
}

.btn {
    padding: 20px 20px;
    /* border-radius: 50%; */
    font-size: 35px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition: .4s ease-out;
    /* background: linear-gradient(45deg, #ffffff, #000000); */
}

.btn-right{
    position: relative;
    top: 40%;
    right: 270px;
    background: linear-gradient(315deg, #ffffff, #000000);
}

.btn-left{
    position: relative;
    top: 40%;
    left: 270px;
    background: linear-gradient(45deg, #ffffff, #000000);
}

.btn-right:hover {
    transform: scale(1.2);
}

.btn-left:hover {
    transform: scale(1.2);
}

.transformAnimation {
    transition: .5s all ease-in-out;
}